.gradle
build

/.vscode
/eclipse
/spigot
/patches2
/patches3
/patchesMCP
/projects2
/projects3
/projects4
/classes
.DS_Store

*.iml
*.ipr
*.iws
.idea/*

*.rej

**/bin
**/.settings
**/.classpath
*.project
