.gradle
build

/.vscode
/eclipse
/projects/*
/classes
.DS_Store

*.iml
*.ipr
*.iws
.idea/*

*.rej

**/bin
**/.settings
**/.classpath
*.project

# For some reason these patches keep getting generated. Join our discord if you know why
Side.java.patch
SideOnly.java.patch